<div class="row">
    <h1>Greeted Names</h1>
    <table class="table table-sm">

        <tbody>


            {{#each actions}}
            <ul>
                <a href="/counter/{{greet_name}}">

                    {{!-- <a href="/counter/:user{{actions}}"> --}}
                    <li>{{greet_name}}</li>

                </a>
            </ul>
            {{/each}}

        </tbody>

    </table>
</div>