<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container">
        <h3>A list of users greeted</h3>
        <div class="row col-2"></div>
        <div class="col-1">
            
            
        </div>
        
    </div>
</body>

</html>
