/* html {
  background-image: url("/css/image/greet.jpeg");
  background-size: cover;
  font-family: "Boogaloo", cursive;
  justify-content: center;
display: flex;
font-size: 60px;
} */

.body{
  background-repeat: no-repeat;
  background-size: cover;
  
}

.name {
  font-family: "Boogaloo", cursive;
  color: black;
  justify-content: center;
  display: flex;

}
h4{

  font-family: "Boogaloo", cursive;
  font-weight: bold;
  font-size: 15px;
  color: black;
  justify-content: center;
  display: flex;  
}

h1 {
  font-family: "Boogaloo", cursive;
  color: black;
  justify-content: center;
  display: flex;
  font-size: 80px;
}

.language { 
   font-family: "Boogaloo", cursive;
   color: black;
  justify-content: center;
  display: flex;
  font-size: 15px;
  }

    .clear{
padding: 0.5em;
font-size: 25px; 

    }
    form{
      display: inline;
    }

   
    .button2 {
  background-color: rgb(220, 230, 228);
  display: inline-block;
  font-style: italic;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  position: relative;
  margin-left: 5px !important;
  vertical-align: top;
  margin-bottom: 0%;display: flex;

}

   .msg {
    font-family: "Boogaloo", cursive;
    color: black;

    justify-content: center;
    display: flex;
    font-weight: bold;
    font-size: 10px;
   }

   
   .counter{
    font-family: "Boogaloo", cursive;
    color: black;

    justify-content: center;
    display: flex;
    font-weight: bold;
    font-size: 15px;
   }

   .col-12{
    font-family: "Boogaloo", cursive;

      justify-content: center;
      display: flex;
      color: black;


   }
   .error{
    font-family: "Boogaloo", cursive;
font-size: 20px;
    justify-content: center;
    display: flex;
    font-weight: bold;
    color: crimson;
   }
   .success{
    font-family: "Boogaloo", cursive;
    font-size: 20px;

    justify-content: center;
    display: flex;
    font-weight: bold;
    color: green;
   }

    